@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <br>
    <h1 class="display-4">Welcome to the School Management App</h1>
    <hr />
    <br>
    @if(User.Identity.IsAuthenticated)
    {
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-outline-primary" asp-area="" asp-controller="Teachers" asp-action="Index" role="button">Teachers</a> <br>
            <a class="btn btn-outline-success"  asp-area="" asp-controller="Students" asp-action="Index" role="button">Students</a> <br>
            <a class="btn btn-outline-danger"  asp-area="" asp-controller="Courses" asp-action="Index" role="button">Courses</a> <br>
            <a class="btn btn-outline-warning"  asp-area="" asp-controller="StudentsCourses" asp-action="Index" role="button">Students per Courses</a> <br>
            <a class="btn btn-outline-info"  asp-area="" asp-controller="Grades" asp-action="Index" role="button">Grades</a>
        </div>
    }
</div>
